body {
    height: 100%;
}

.star-warts-text {
    height: 100%;
    background-color: black;
    font-size: "Times New Roman";
    line-height: 3rem;
    text-shadow: grey;
    color: yellow;
    text-emphasis-color: yellow;
    text-decoration-color: yellow;
    text-align: center;
    transform: rotateX(30deg);
}

.title {
    text-transform: capitalize;
    font-size: 80px;
}