* {
    text-align: center;
    padding: 3px;
}

.green {
    background-color: greenyellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
    height: 250px;
}

.orange {
    background-color: orange;
    height: 100px;
    border: solid 1px black;
}

.blue {
    height: 60px;
}

.fuxia {
    background-color: fuchsia;
    height: 30px;
}


.offset {
    background-color: green;
    height: 8em;
    border: solid 1px black;
}
@media (max-width: 767px) {
    .red {height: 30px;}
}