.button {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 40%;
    transition: transform 1s ease;
}

.button:hover {
    transform: rotateY(1turn) scale(3, 3) skew(4deg, 5deg);
}